html{font:12px "Hiragino Sans GB","Microsoft Yahei",arial,宋体,"Helvetica Neue",Helvetica,STHeiTi,sans-serif}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,textarea,p,th,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
a{text-decoration:none;color:#000;outline:none}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{*font-size:100%}
img{border: none; vertical-align: top;}
html,body{  max-width: 750px;  margin: 0 auto;}
.f12 {
  font-size: .12rem;
}

.f14 {
  font-size: .14rem;
}

.f16 {
  font-size: .16rem;
}

.f18 {
  font-size: .18rem;
}

.f22 {
  font-size: .22rem;
}

.f24 {
  font-size: .24rem;
}

.f28 {
  font-size: .28rem;
}

.f30 {
  font-size: .3rem;
}

.c3 {
  color: #333333;
}

.c9 {
  color: #999999;
}

.c6 {
  color: #666666;
}

