body {
  background: #f5f5f5;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="tel"] {
  -webkit-appearance: none;
}

.withdrawCash_bg {
  height: 100%;
  width: 100%;
  background: #000;
  position: fixed;
  top: 0;
  opacity: .4;
  z-index: 1;
  display:block;
}

.swiper-container {
  width: 100%;
  height: 1.5rem;
}

.swiper-container1 {
  margin-top: -.41rem;
}

.swiper-container1 .swiper-wrapper {
  width: 70% !important;
  margin-left: 20%;
  color: #2a2a2a;
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.indexSearch {
  width: 3.46rem;
  height: .33rem;
  line-height: .33rem;
  background: rgba(255, 255, 255, 0.50);
  border-radius: 2px;
  position: absolute;
  top: .1rem;
  left: 50%;
  margin-left: -1.73rem;
  z-index: 99;
  font-size: .16rem;
  color: #666666;
  text-align: center;
}

.indexSearch1 {
  width: 3.46rem;
  height: .33rem;
  line-height: .33rem;
  background: rgba(255, 255, 255, 0.50);
  border-radius: 2px;
  position: absolute;
  top: .1rem;
  left: 50%;
  margin-left: -1.73rem;
  z-index: 99;
  font-size: .16rem;
  color: #666666;
  text-align: center;
  border:1px solid #E5E5E5;
}

.indexSearch img,.indexSearch1 img {
  width: .12rem;
  height: .12rem;
  margin: .1rem .15rem 0 0;
}

.indexNew {
  clear: both;
  height: .5rem;
  line-height: .5rem;
  overflow: hidden;
  padding: 0 .14rem;
  font-size: .12rem;
  position: relative;
  box-shadow: inset 0 -1px 3px -1px #e5e5e5;
  background: #fff;
}

.indexNew span {
  margin-top: .1rem;
  display: block;
  width: .5rem;
  height: .32rem;
}

.indexNew .left img {
  width: .42rem;
  height: .16rem;
  margin-top: .08rem;
}

.indexNew b {
  float: left;
  display: block;
  width: .03rem;
  height: .03rem;
  position: relative;
  top: .23rem;
  margin-right: .1rem;
  background: #666;
  display: inline;
  border-radius: 50%;
}

.indexNew .right img {
  width: .08rem;
  height: .13rem;
  position: absolute;
  right: .14rem;
  top: .18rem;
}

.verticalLine {
  position: absolute;
  top: .18rem;
  left: .68rem;
  height: .16rem;
  width: 1px;
  background: #ffa000
}

/*首页中间导航*/
.indexNav {
  width: 100%;
  height: 1.22rem;
  background: #fff;
  margin-bottom: .1rem;
}

.indexNav ul li {
  float: left;
  width: 25%;
}

.Arouter-link {
  display: block;
  width: 100%;
  height: .5rem;
  text-align: center;
  font-size: .12rem;
  color: #333;
}

.indexNav li span {
  display: block;
  margin-top: .1rem;
}

.icon-one, .icon-two, .icon-three, .icon-four {
  width: .54rem;
  height: .54rem;
  display: inline-block;
  margin-top: .2rem;
}

.icon-one {
  background: url(../images/nav_dianpu.png);
  background-size: 100% 100%;
}

.icon-two {
  background: url(../images/nav_shop.png);
  background-size: 100% 100%;
}

.icon-three {
  background: url(../images/nav_tixian.png);
  background-size: 100% 100%;
}

.icon-four {
  background: url(../images/nav_zuanqian.png);
  background-size: 100% 100%;
}

/*商品样式*/
.indexMain {
  margin-top: .1rem;
}

.indexMain ul li:nth-child(odd) {
  width: 49.5%;
  float: left;
  height: 2.09rem;
  background: #fff;
  border-right: 1px solid rgba(239, 239, 244, 0.5);
  border-bottom: 1px solid rgba(239, 239, 244, 0.5);
  position: relative;
}

.indexMain ul li:nth-child(even) {
  width: 50%;
  float: left;
  height: 2.09rem;
  background: #fff;
  border-bottom: 1px solid rgba(239, 239, 244, 0.5);
  position: relative;
}

.indexMain ul li div:nth-child(1) {
  width: 1.78rem;
  height: 1.2rem;
  margin: .05rem auto 0;
  text-align: center;
}

.indexMain ul li div:nth-child(4) img, .indexMain ul li div:nth-child(1) img {
  width: 100%;
  height: 100%;
}

.indexMain ul li div:nth-child(2) {
  margin: .14rem 0 0 .05rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .14rem;
}

.indexMain ul li div:nth-child(3) {
  margin-left: .05rem;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .12rem;
}

.indexMain ul li div:nth-child(4) {
  margin: .05rem 0 0 .05rem;
  color: #F6AB00;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .14rem;
}

.goodsList .title{
  height: .45rem;
  line-height: .45rem;
  background: #fff;
  padding: 0 .14rem;
}

.goodsList .title .left{
  float: left;
  font-size: .18rem;
  color: #333333;
  font-weight: bold;
}

.goodsList .title .left i{
  height: .16rem;
  width: .04rem;
  background: #F6AB00;
  display: inline-block;
  margin-right: .1rem;
}
.goodsList .title .right{
  float: right;
  font-size: .14rem;
  color: #999999;
}

.goodsList .title .right img {
  width: .08rem;
  height: .13rem;
  margin-top: .16rem;
  margin-left: .1rem;
}

.goodsList .banner{
  height: 1.4rem;
  background: #000;
}
/*商品详情*/
.goodsBanner {
  width: 100%;
  height: 2.8rem;
}

.goodsBanner img {
  height: 100%;
  width: 100%;
}

.goodsPrices .left {
  width: 2.7rem;
  float: left;
  background: #fff;
}

.goodsPrices .left div:nth-child(1) {
  font-size: .14rem;
  color: #333;
  margin: .14rem 0 0 .14rem;
}

.goodsPrices .left div:nth-child(2) {
  font-size: .14rem;
  color: #F6AB00;
  margin: .1rem 0 .04rem .14rem;
}

.goodsPrices #prices {
  font-size: .32rem;
  margin-right: .2rem;
}

.goodsPrices #noPrices {
  color: #999999;
  font-size: .12rem;
  text-decoration: line-through;
  margin-right: .2rem;
}

.goodsPrices #number {
  color: #999999;
  font-size: .12rem;
}

.goodsPrices .right {
  float: right;
  width: 1.04rem;
  border-left: 1px solid #e5e5e5;
  text-align: center;
  background: #fff;
}

.goodsPrices .right div:nth-child(1) {
  font-size: .18rem;
  color: #F6AB00;
  margin-top: .08rem;
}

.goodsPrices .right div:nth-child(2) {
  font-size: .14rem;
  color: #F6AB00;
}

.goodsPrices .right div:nth-child(3) {
  font-size: .14rem;
  color: #666;
  border: 1px solid #979797;
  width: .36rem;
  margin: .08rem auto .1rem;
  border-radius: 2px;
}

.goodsSelect, .goodsSelect1 {
  height: .44rem;
  line-height: .45rem;
  color: #666;
  font-size: .14rem;
  padding: 0 .14rem;
  border-bottom: 1px solid #efeff4;
  background: #fff;
}

.goodsSelect img, .goodsSelect1 img {
  width: .08rem;
  height: .13rem;
  float: right;
  margin-top: .16rem;
}

.goodsSelect1 span {
  float: right;
  font-size: .14rem;
  color: #999;
  margin-right: .1rem;
}

.goodsAssess {
  padding: 0 .14rem .16rem .14rem;
  background: #fff;
}

.goodsAssess .header {
  padding-top: .14rem;
  height: .3rem;
  line-height: .3rem;
}

.goodsAssess .header span:nth-child(1) {
  width: .3rem;
  height: .3rem;
  display: inline-block;
  float: left;
}

.goodsAssess .header span:nth-child(1) img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.goodsAssess .img li div img {
  width: 100%;
  height: 100%;
}

.goodsAssess .header span:nth-child(2) {
  font-size: .14rem;
  color: #333;
  float: left;
  margin: 0 .1rem;
}

.goodsAssess .header span:nth-child(3) img {
  width: .13rem;
  height: .13rem;
  float: left;
  margin: .08rem .04rem 0;
}

.goodsAssess .data {
  height: .2rem;
  line-height: .2rem;
  color: #999;
  font-size: .14rem;
  margin: .1rem 0;
}

.goodsAssess .test {
  font-size: .14rem;
  color: #333;
}

.goodsAssess .img li {
  width: 33.3%;
  float: left;
  z-index: 1;
  border-radius: 4px;
}

.goodsAssess .img li div {
  width: 1.1rem;
  height: 1.1rem;
  margin-top: .14rem;
}

.goodsAssess .more {
  width: .74rem;
  height: .2rem;
  line-height: .2rem;
  text-align: center;
  border: 1px solid #F6AB00;
  color: #F6AB00;
  font-size: .14rem;
  clear: both;
  margin: .16rem auto 0;
  border-radius: 2px;
}

.goodsMain {
  background: #fff;
  margin-top: .1rem;
}

.goodsMain .title {
  height: .44rem;
  line-height: .44rem;
  color: #666;
  font-size: .14rem;
  text-align: center;
}

.goodsMain .main img {
  width: 100%;
  height: 100%;
}

/*注册登录*/
.loginTab {
  height: .48rem;
  line-height: .48rem;
  box-shadow: inset 0 -1px 1px -1px #ccc;
  font-size: .16rem;
  color: #666;
  background: #fff;
}

.loginTab .left {
  width: 50%;
  float: left;
  text-align: center;
  position: relative;
}

.loginTab .right {
  width: 50%;
  float: right;
  text-align: center;
  position: relative;
}

.loginTab .left span {
  height: 2px;
  width: 1.14rem;
  background: #F6AB00;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -.57rem;
  display: none;
}

.loginTab .right span {
  height: 2px;
  width: 1.14rem;
  background: #F6AB00;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -.57rem;
  display: none;
}

.loginTabActive {
  color: #333 !important;
  font-weight: bold;
}

.loginBlock {
  display: block !important;
}

.nameBox, .codeBox {
  display: none;
}

.registerInput {
  position: relative;
  width: 96%;
  margin: 0 auto;
  box-shadow: inset 0 -1px 1px -1px #ccc;
  background: #fff;
  height: .58rem;
}

.registerInput .enroll_input {
  width: 88%;
  height: .44rem;
  line-height: .44rem;
  margin: 0 auto;
  display: block;
  font-size: .14rem;
  outline: none;
  background: none;
  border: none;
  padding-left: .3rem;
  padding-top: .08rem;
}

.registerInput .clear, .registerInput .clear2 {
  width: .14rem;
  height: .14rem;
  position: absolute;
  top: 50%;
  right: .14rem;
  margin-top: -.07rem;
}

.registerInput .clear img, .registerInput .clear1 img, .registerInput .clear2 img {
  width: 100%;
  height: 100%;
}

.registerInput .clear1 {
  width: .14rem;
  height: .14rem;
  position: absolute;
  top: 50%;
  right: .32rem;
  margin-top: -.07rem;
  display: none;
}

.registerInput .ico1 {
  width: .16rem;
  height: .18rem;
  position: absolute;
  left: .08rem;
  top: 50%;
  margin-top: -.08rem;
}

.registerInput .ico-class, .registerInput .ico-class1 {
  width: .16rem;
  height: .12rem;
  position: absolute;
  right: .08rem;
  bottom: .21rem;
}

.registerInput .ico2 {
  background: url(../images/enroll_ico8.png) no-repeat;
  background-size: cover;
}

.registerInput .ico3 {
  background: url(../images/enroll_ico8-1.png) no-repeat;
  background-size: cover;
}

.forget {
  float: right;
  margin-top: .2rem;
  font-size: .14rem;
  text-align: right;
  margin-right: .15rem;
  color: #999;
}

.loginBtn {
  width: 94%;
  margin: .2rem auto 0;
  height: .44rem;
  line-height: .44rem;
  text-align: center;
  color: #fff;
  font-size: .16rem;
  border-radius: 4px;
  border: none;
  display: block;
  background: #F6AB00;
}

.loginBtn1 {
  width: 94%;
  margin: .54rem auto 0;
  height: .44rem;
  line-height: .44rem;
  text-align: center;
  color: #fff;
  font-size: .16rem;
  border-radius: 4px;
  border: none;
  display: block;
  background: #F6AB00;
}

.loginBtn:disabled,.loginBtn1:disabled{
  background: #D8D8D8!important;
}

.wxLogin {
  width: 94%;
  border-top: 1px solid #DFDFDF;
  margin: .4rem auto 0;
  position: relative;
}

.wxLoginText {
  color: #999;
  font-size: .12rem;
  height: .14rem;
  line-height: .14rem;
  text-align: center;
  background: #fff;
  width: 1rem;
  margin: -.07rem auto 0;
}

.wxLoginImg {
  width: .44rem;
  height: .44rem;
  margin: .3rem auto .1rem;
}

.wxLoginImg img {
  width: 100%;
  height: 100%;
}

.wxLogin p {
  text-align: center;
  font-size: .12rem;
  color: #666666;
}

.wxEnroll {
  width: 3.4rem;
  height: .44rem;
  line-height: .44rem;
  text-align: center;
  position: fixed;
  bottom: .6rem;
  left: 50%;
  margin-left: -1.7rem;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  font-size: .16rem;
  color: #666;
  display: block;
}

.enroll {
  position: relative;
  width: 96%;
  margin: 0 auto;
  box-shadow: inset 0 -1px 1px -1px #ccc;
  background: #fff;
  height: .58rem;
}

.enroll .enroll_input1 {
  height: .44rem;
  line-height: .44rem;
  margin: 0 0 0 .05rem;
  display: block;
  font-size: .14rem;
  outline: none;
  background: none;
  border: none;
  padding-left: .3rem;
  position: relative;
  padding-top: .08rem;
  width: 50%;
}

.enroll .code1 {
  position: absolute;
  top: .13rem;
  right: .1rem;
  height: .32rem;
  line-height: .32rem;
  width: 30%;
  text-align: center;
  color: #fff;
  background: #F6AB00;
  font-size: .14rem;
  border-radius: 2px;
}

.enroll .code {
  position: absolute;
  top: .13rem;
  right: .1rem;
  height: .32rem;
  line-height: .32rem;
  width: 30%;
  text-align: center;
  color: #fff;
  background: #D8D8D8;
  font-size: .14rem;
  border-radius: 2px;
}

.enroll .ico1 {
  width: .16rem;
  height: .18rem;
  position: absolute;
  left: .08rem;
  top: 50%;
  margin-top: -.08rem;
}

.agreement {
  height: .3rem;
  line-height: .3rem;
  margin-top: .2rem;
  padding-left: .15rem;
  position: relative;
}

.agreement img {
  width: .18rem;
  height: .18rem;
  margin-top: .06rem;
  margin-right: .08rem;
}

.agreement .xieyi, .agreement .yinsi {
  color: #4990E2;
}

.agreementText, .agreementText1 {
  padding: 0 .15rem;
  background: #fff;
  position: absolute;
  top: 0;
  font-size: .12rem;
}

.agreementText p, .agreementText1 p {
  margin-top: .05rem;
  letter-spacing: 1px;
}

.agreementText p:nth-child(1), .agreementText1 p:nth-child(1) {
  text-align: center;
  font-size: .16rem;
  margin: .16rem 0;
  font-weight: bold;
}

.agreementText p:nth-child(2), .agreementText1 p:nth-child(2) {
  font-size: .12rem;
  text-indent: 1em;
}

.agreementBtn {
  height: .44rem;
  line-height: .44rem;
  background: #F6AB00;
  text-align: center;
  width: 94%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: .16rem;
  color: #fff;
  border: none;
  margin: .2rem auto;
}

.searchHeader {
  padding: 0 .14rem;
  height: .58rem;
  line-height: .58rem;
  border-bottom: 1px solid #eee;
}

.searchInput {
  width: 3rem;
  font-size: .14rem;
  float: left;
  height: .38rem;
  margin-top: .1rem;
  background: #EDEDED;
  border-radius: 2px;
  position: relative;
}

.searchInput img {
  width: .12rem;
  height: .12rem;
  position: absolute;
  top: 50%;
  left: .1rem;
  margin-top: -.06rem;
}

.searchInput input {
  width: 2.5rem;
  border: none;
  height: 100%;
  background: #EDEDED;
  margin-bottom: .07rem;
  margin-left: .38rem;
  display: block;
}

.searchBtn {
  width: .4rem;
  text-align: center;
  font-size: .16rem;
  color: #666;
  float: right;
}

 .goodsSpec {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
   z-index: 2;
}

 .goodsSpec span:nth-child(1) img {
  height: .76rem;
  width: .76rem;
  margin: .14rem;
  float: left;
}

 .goodsSpec .one {
  color: #F6AB00;
  font-size: .14rem;
  position: absolute;
  top: .48rem;
  width: 2rem;
}

 .goodsSpec .two {
  color: #666;
  font-size: .14rem;
  position: absolute;
  top: .7rem;
  width: .6rem;
}

 .goodsSpec .three {
  color: #666;
  font-size: .14rem;
  position: absolute;
  top: .7rem;
  left: .6rem;
  width: 2rem;
}

 .goodsSpec .four img {
  width: .14rem !important;
  height: .14rem !important;
  margin-top: .6rem;
  float: right !important;
}

.goodsSpecTitle {
  font-size: .14rem;
  color: #666;
  margin: .24rem 0 0 .14rem;
  clear: both;
}

.goodsSpecNav, .goodsSpecNav1 {
  width: 100%;
  background: #fff;
  padding-bottom: .14rem;
}

.goodsSpecNav div, .goodsSpecNav1 div {
  float: left;
  border: 1px solid #e5e5e5;
  height: .28rem;
  line-height: .28rem;
  text-align: center;
  color: #666;
  font-size: .14rem;
  margin: .14rem 0 0 .08rem;
  padding: 0 .2rem;
}

.goodsSpecBtn{
  height: .5rem;
  line-height: .5rem;
  text-align: center;
  color: #fff;
  background:  #F6AB00;
  clear: both;
}

.screenNavActive {
  color: #F6AB00 !important;
  border: 1px solid #F6AB00 !important;
}

/*分类*/
.classifyNav {
  height: 5rem;
  width: .79rem;
  border-right: 1px solid #efeff4;
  border-top: 1px solid #efeff4;
  border-bottom: 1px solid #efeff4;
  float: left;
  overflow-y: scroll;
  margin-top: .7rem;
}

.classifyNav li {
  height: .2rem;
  line-height: .2rem;
  font-size: .14rem;
  color: #666;
  text-align: center;
  margin: .27rem 0;
  position: relative;
}

.indexNavOneActive {
  color: #F6AB00 !important;
}

.classifyNav li span {
  height: 100%;
  width: 3px;
  background: #F6AB00;
  position: absolute;
  left: 0;
}
